<%= form_for(idea) do |f| %>
<% if idea.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

  <ul>
    <% idea.errors.full_messages.each do |message| %>
    <li><%= "message" %></li>
    <% end %>
  </ul>
</div>
<% end %>

<br>
<div class="field">
  <%= f.file_field :picture, required: true %>
</div><br>

<div class="field">
  <%= f.label "Title" %>
  <br>
  <%= f.text_field :name, required: true %>
</div><br>

<div class="field">
  <%= f.label "Description" %>
  <br>
  <%= f.text_area :description%>
</div><br>

<div class="field bottomSpacer">
  <%= f.label "Location" %>
  <br>
  <%= f.text_area :coverage, required: true %>
</div><br>



<div class="field bottomSpacer">
  <%= f.label "Finish Date" %>
  <br>
  <%= f.number_field :date, required: true %>
</div>


<div class="accordion">
 <h3 id="nitty" style="font-family: Josefin Sans"><strong>Nitty-gritty details + </strong></h3> 
 <p style="font-family: Josefin Sans; font-size: 1.25em; margin-top: 10px;">(Fill out this form if you wish your work to be chosen for the museum gallery)</p>
 <br>
 <div>
  <div class="field bottomSpacer">
    <%= f.label :contributor %>
    <br>
    <%= f.text_area :contributor %>
  </div>

  <div class="field bottomSpacer">
    <%= f.label :subject %>
    <br>
    <%= f.text_area :subject %>
  </div> 
  
  <div class="field bottomSpacer">
    <%= f.label :identifier %>
    <br>
    <%= f.text_area :identifier%>
  </div>

  <div class="field bottomSpacer">
    <%= f.label "Themes" %>
    <br>
    <%= f.text_field :related%>
  </div>

  <div class="field bottomSpacer">
    <%= f.label "Art Format" %>
    <br>
    <%= f.text_field :artformat%>
  </div>

  <div class="field bottomSpacer">
    <%= f.label "Art type" %>
    <br>
    <%= f.text_area :arttype %>
  </div>

  <div class="field bottomSpacer">
    <%= f.label :rights %>
    <br>
    <%= f.text_field :rights %>
  </div>
</div>
</div>

<div class="actions bottomSpacer">
  <%= f.submit %>
</div>
<% end %>

<script>
  $(".accordion > div").hide().parent().hover(function(event) {
    $(this).children("div").slideToggle(event.type === "mouseenter");
  });
</script>

