<div class="row">
	<div class="col-md-8">
		<%= image_tag(@idea.picture_url, width: 750) if @idea.picture.present? %>
	</div>
	<div class="col-md-4">
		<p style="font-family: Abril Fatface; font-size: 1.5em; line-height: 1.2em;" >
			<strong>
				<%= @idea.name%>
			</strong>
		</p>
		<% if current_user == @user %>
		<td>
			<%= link_to 'Edit |', edit_idea_path(@idea), class: 'link-to-text-color' %>
		</td>
		<td>
			<%= link_to 'Destroy', @idea, class: 'link-to-text-color', method: :delete, data: { confirm: 'Are you sure?' }%>
		</td>
		<br>
		<% end %>
		<br>
		<p style="font-family: Josefin Sans; font-size: 1.25em; line-height: 1.2em;">
			<strong>
				By: <%= link_to @user.firstname, @user %> <br>
				<%= @idea.coverage%>
				<%= @idea.date%>
				<%= @idea.rights%>
			</strong>
		</p><br>
		<div class="reactionSetStyles" style="font-family: Josefin Sans; font-size: 1.25em; line-height: 1.2em;">
			<% Reaction::SENTIMENTS.each do |sentiment| %>
			<%= link_to sentiment, idea_reactions_path(@idea, sentiment: sentiment), method: :post %> 
			(<%= @idea.reactions.where(sentiment: sentiment).count %>)
			<% end %>
		</div>

		<% if !@idea.description.blank?%>
		<div style="padding-bottom: 20px; font-family: Josefin Sans; font-size: 1.25em; line-height: 1.2em;">
			<strong> Description: </strong> <%= @idea.description %>
		</div> 
		<% end %>
	</div>
</div>

<br><br>
<% if !@comments.blank? || user_signed_in? %>
<div style="background-color: #e5e5ec;">
	<div style="font-family: Josefin Sans; font-size: 1.5em; padding: 15px; color: white; background-color: #8F8F91;">
		<strong> Comments </strong>
	</div>
	<% @comments.each do |comment| %>
	<div style="font-family: Josefin Sans; font-size: 1.25em; padding-top: 15px; padding-left: 15px; background-color: #dadadd;">
		<strong><%= comment.user_name%>:</strong>
		<%= comment.body %> <br>
		<% if current_user == @comment %>
		<td><%= link_to 'Edit |', edit_comment_path(comment),  class: 'link-to-text-color' %></td>
		<td><%= link_to 'Destroy', comment,  class: 'link-to-text-color', method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
		<hr>
	</div>
	<% end %>
</div>
<% end %>
<br>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>