<p id="notice"><%= notice %></p>

<div id="personalFeedBackground" class="backgroundLayout">
	<div class="fadeIn title_middle_white">
		your talent
	</div>
</div>

<div class="landingPageHeader userProfileHeader">
	<div id="avatar">
		<%= image_tag(@user.dp_url, :size => "200x200") if @user.dp.present? %>
	</div>
	<ul>
		<li><h1 style="font-size:2em"><%= @user.firstname + " " + @user.lastname%></h1></li><br>
		<li><h4 style="font-family: Josefin Sans; font-size: 1.5em">Location: <%= @user.location %></h4></li>

		<%if !@user.website.blank? %>
		<li><h4 style="font-family: Josefin Sans; font-size: 1.5em">Website: <a href="<%= @user.website %>"><%= @user.website %></a></h4></li>
		<%end%>

		<%if !@user.email.blank? %>
		<li><h4 style="font-family: Josefin Sans; font-size: 1.5em">Contact: <%= @user.email %></h4></li>
		<%end%>

		<%if !@user.bio.blank? %>
		<li><h4 style="font-family: Josefin Sans; font-size: 1.5em">Bio: <%= @user.bio %></h4></li>
		<%end%>
	</ul>
	<br>
	<% if current_user == @user %>
	<div id="ugly_links">
		<div class="ugly">
			<%= link_to 'New Art Work', new_idea_path, :class => 'button-link' %> 
			<br>
		</div>
		<div class="ugly">
			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'button-link' %>  
		</div>
	</div>
	
	<% end %>
</div>
<hr>
<div class="gallery">
	<% @user_posts.each do |idea| %>
	<div class="artwork">
		<figure>
			<a href="<%= idea_url(idea) %>"><%= image_tag idea.picture_url, width: '100%' if idea.picture.present?%></a>
			<div class="sentiments">
				<div class="sentiment">
					Like (<%= idea.reactions.where(sentiment: "Like").count %>)
				</div>
				<div class="sentiment">
					Love (<%= idea.reactions.where(sentiment: "Love").count %>)
				</div>
				<div class="sentiment">
					Sad (<%= idea.reactions.where(sentiment: "Sad").count %>)
				</div>
				<div class="sentiment">
					Confuse (<%= idea.reactions.where(sentiment: "Confuse").count %>)
				</div>
				<div class="sentiment">
					Angry (<%= idea.reactions.where(sentiment: "Angry").count %>)
				</div> 
			</div>
		</figure>
	</div>
	<% end %>
</div>