<!DOCTYPE html>
<html>
<head>
  <title>Localart</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-family: mainTitle; text-decoration: none; font-size: 3em;">Locagrid</a>
      <ul class="navigation">
        <li style="display: flex; flex-direction: row;">

          <% if user_signed_in? %>
          <li><a href="/ideas">Feed</a></li>
          <li><a href="<%= user_path(current_user)%>"> <%= current_user.firstname %> 's Work</a></li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container containerBody">
    <%= yield %>
  </div>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
</body>
</html>
